* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html { scroll-behavior:smooth;
    overflow-x:hidden;
    overflow-y:hidden;
}
body{
    
    background-color:rgb(71, 13, 11);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#bank{
    margin:auto;
    display: flex;
    color:blanchedalmond;
    font-weight: 800;
    font-size: 1.5rem;
    background-color:rgb(71, 13, 11);
    border-color:rgb(125, 60, 60);
    border-width: 0.3rem;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding-left: 18rem;
    transition: .2s ease-in-out;
}
#bank:hover{
    transition: .2s ease-in-out;
    text-shadow:0 0 2px rgba(255, 255, 255, 5);
    font-size: 1.51rem;
}
#img{
    top:4rem;
    position:relative;
    left:43%;
    margin:auto;
    display:flex;
}
#imgofcom{
    top:-13rem;
    position:relative;
    left:43%;
    margin:auto;
    display:flex;
}
#hand{
    top:17rem;
    position:relative;
    left:40%;
    color:blanchedalmond;
    font-weight: 800;
    font-size: 0.83rem;
    background-color:rgb(71, 13, 11);
    border-color:rgb(125, 60, 60);
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 0.1rem;
    border-radius: 15%;
    text-align: center;
}
.pictures{
    transition: .5s ease-in-out;
    transition: cubic-bezier(10, 0.7, 1.0, 2);
}
.pictures:hover{
    transition: .2s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transform: scale(0.95);

}
.buttons{
    transition: .1s ease-in-out;
    margin:auto;
    display: inline-flex;
    position:relative;
    left:40.5%;
    top:22rem;
    font-size: 1rem;
    color:azure;
    background-color: rgb(125, 60, 60);
    border-color:blanchedalmond;
    border-width: 0.1rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 16%;
}
.buttons:hover{
    cursor:pointer;
    transition: 0.1s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
.buttons:active{
    transition: 0.05s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    transform:scale(0.9);
}
#reset{
    position:absolute;
    display:flex;
    left:20%;
    top:50%;
    color:azure;
    background-color: rgb(125, 60, 60);
    border-color:blanchedalmond;
    border-width: 0.1rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 16%;
}
#reset:hover{
    cursor:pointer;
    transition: 0.1s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
#reset:active{
    transition: 0.05s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    transform:scale(0.9);
}
#bet{
    position:absolute;
    top:39.6%;
    left:12.5%;
    color:rgb(125, 60, 60);
    font-weight: 800;
    background-color:antiquewhite;
    border-color:rgb(125, 60, 60);
    border-width: 0.1rem;
    padding-right:-1rem;
    border-radius: 10%;
}
#betbutton{
    cursor:pointer;
    position:absolute;
    top:40%;
    left:28%;
    color:azure;
    background-color: rgb(125, 60, 60);
    border-color:blanchedalmond;
    border-width: 0.1rem;
    padding-left:1rem;
    padding-right:1rem;
    border-top-right-radius: 16%;
    border-bottom-right-radius: 16%;
}
#betbutton:hover{
    transition: 0.1s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
#betbutton:active{
    transition: 0.05s ease;
    color:rgb(245, 215, 170);;
    background-color:rgb(46, 7, 6);
    border-color:rgb(245, 215, 170);
    transform:scale(0.9);
}
#results{
    position:relative;
    left:3%;
    font-size: 1.2rem;
    font-weight: 800;
    color:azure;
}

